/* цвет основного текста #757575
вточиный текст #212121
акцент  #2196F3;

 фон^ - background: #E5E5E5
      - header  #FFFFFF
      - hero #2F303A
*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration-line: none;
}

.logo > span {
  color: #2196f3;
}

.logo:visited {
  color: var(--secondary-text-color);
}

.menu {
  list-style: none;
}

.menu:visited {
  color: var(--secondary-text-color);
}

.link {
  text-decoration-line: none;
  color: var(--secondary-text-color);
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.adress {
  color: var(--primary-text-color);
}

.hero {
  background-color: #2f303a;
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}
.button {
  font-family: Roboto;
  color: #ffffff;
  background-color: var(--accent-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.block-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.secret {
  color: #ffffff;
}
.block {
  list-style: none;
}
.text-title {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.team {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
}
.footer {
  background-color: #2f303a;
  color: #ffffff;
}
.footer:visited {
  color: #ffffff;
}

.down {
  color: rgba(255, 255, 255, 0.6);
}
